
{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <div id="kt_app_toolbar" class="app-toolbar pt-4 pt-lg-7 mb-n2 mb-lg-n3">
        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack flex-row-fluid">
            <div class="d-flex flex-stack flex-row-fluid">
                <div class="d-flex flex-column flex-row-fluid">
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-1 mb-lg-3 me-2">
                        <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                            <a href="/" class="text-white">
                                <i class="fonticon-home text-gray-700 fs-3"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            
                        </li>
                        <span b-1mtsuay2f9 class="menu-icon-dark">
                            </span>Doctors
                        <li class="breadcrumb-item">
                            <span class="svg-icon svg-icon-5 svg-icon-gray-700 mx-n2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="currentColor"/>
                                </svg>
                            </span>
                        </li>
                        <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Edit</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <a href="{% url 'doctors' %}" class="btn btn-flex btn-sm btn-body h-35px bg-body fw-bold">
                        <i class="bi bi-arrow-left"></i>
                        Go back to doctors

                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'doctors/sidebar.html' %}
    
        
        
        <div class="container-xxl">
            <!--begin::Sidebar-->
            {% block sidebar %}
                {% comment %} content start {% endcomment %}
                <div class="col-12" style="margin-top:0px;" >
                    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                        <div class="d-flex flex-column flex-column-fluid">
                            <div id="kt_app_content" class="app-content">
                                <form method = 'post' class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" >
                                    {% csrf_token %}
                                    <div class="d-flex flex-column flex-row-fluid gap-10 gap-lg-10 me-lg-12">
                                        <div class="d-flex flex-column gap-10 gap-lg-10">
                                            <div id="paneProfile" class="card card-flush py-4">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <h2>
                                                            <span class="menu-icon">
                                                                <i class="bi bi-person-circle fs-1 text-info"></i>
                                                            </span>
                                                            Profile
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Full Name</label>
                                                            <input type="text" id="txtHospitalName" name="fullname" class="form-control mb-2" value="{{fullname}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <label class="required form-label">Contact</label>
                                                            <input type="text" id="txtUsername" name="contact" class="form-control mb-2" value="{{phone}}" readonly>
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Email </label>
                                                            <input type="text" id="txtFirstName" name="email" class="form-control mb-2" value="{{emailid}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Gender</label>
                                                            <select class="form-select" name="gender"  data-dropdown-css-class="w-300px" data-hide-search="true" data-allow-clear="true" data-control="select2" data-placeholder="Select status">
                                                                <option value="" {% if gender is not defined %} selected {% endif %}>Select gender</option>
                                                                <option value="M" {% if gender == 'M' %} selected {% endif %}>Male</option>
                                                                <option value="F" {% if gender == 'F' %} selected {% endif %}>Female</option>
                                                                <option value="O" {% if gender == 'O' %} selected {% endif %}>Others</option>
                                                            </select>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Date of Birth</label>
                                                            <input type="date" id="txtMobile" name="dob" class="form-control mb-2" value="{{dob}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-70 flex-md-root">
                                                            <label class="required form-label">Martial Status</label>
                                                            <select id="genderSelect" class="form-select" name="marry" data-dropdown-css-class="w-200px" data-hide-search="true" data-allow-clear="true" data-control="select2" data-placeholder="Select status">
                                                                <option value="" {% if not maritalstatus %} selected {% endif %}>Select status</option>
                                                                <option value="Married" {% if maritalstatus == 'Married' %} selected {% endif %}>Married</option>
                                                                <option value="UnMarried" {% if maritalstatus == 'UnMarried' %} selected {% endif %}>UnMarried</option>
                                                            </select>                                                                    
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Father Name</label>
                                                            <input type="text" id="txtMobile" name="fathername" class="form-control mb-2"value="{{fathername}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <label class="required form-label">Mother Name</label>
                                                            <input type="text" id="txtMobile" name="mothname" class="form-control mb-2" value="{{mothername}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Reference Contact</label>
                                                            <input type="text" id="txtMobile" name="reference" class="form-control mb-2" value="{{referencecontact}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Qualification</label>
                                                            <input type="text" id="txtMobile" name="Qualification" class="form-control mb-2" value="{{qualification}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <label class="required form-label">Experience</label>
                                                            <input type="number" id="txtMobile" name="Experience" class="form-control mb-2" value="{{experience}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <label class="required form-label">Reg Number(ISA/IRIA/Others)</label>
                                                            <input type="text" id="txtMobile" name="txtRegNumber" class="form-control mb-2" value="{{regno}}">
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                        <div class="fv-row w-100 flex-md-root fv-plugins-icon-container">
                                                            <label class="required form-label">Speciality</label>
                                                            <select class="form-select isrequired" data-allow-clear="true" data-control="select2" data-placeholder="Select Surgery" data-val="true" data-val-required="Surgery Speciality is required"id="speciality" name="speciality">
                                                                <option></option>
                                                                {% for i in speciality_dropdown_data %}
                                                                    <option value="{{ i.name }}" {% if i.name == speciality %}selected{% endif %}>{{ i.name }}</option>
                                                                {% endfor %}
                                                                {% comment %} <option value="other">Other</option> {% endcomment %}
                                                            </select>                                                                   
                                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end me-5">
                                                    <a href="{% url 'doctors' %}" class="btn btn-light me-5">Cancel</a>
                                                    <button type="sumbit" onclick="editSelection()" id="btnSaveHospital" class="btn btn-primary">
                                                        <span class="indicator-label">Save Changes</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                
                                </form>
                    </div>
                </div>
                {% endblock sidebar %}
            </div>
        {% endblock content %}
    
        </div>
    {% comment %} {% endblock %} {% endcomment %}



