


{% extends 'base.html' %}
{% load static %}

    {% block content %}
    

{% include 'hospital/hospital_sidebar.html' %}
{% block hos_sidebar %}
{% endblock hos_sidebar %}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
<div class="d-flex flex-column flex-column-fluid">
<div id="kt_app_content" class="app-content ">
    <div class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10 me-lg-10">
            <div class="d-flex flex-column gap-7 gap-lg-10">
                <div id="hospitalPackageStatus" class="card hide card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="menu-icon">
                                <i class="bi bi-check-circle text-dark fs-1 me-1"></i>
                            </span>
                            <h2>Hospital Status</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="fs-6 fw-semibold mt-2 mb-3">Status</div>
                            </div>
                            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                                <div class="fs-6 fw-semibold mt-2 mb-3">
                                    <label id="lblHospitalStatus">
                                        {% if status == 1 %}
                                            <label id="lblHospitalName" class="text-warning">: InReview
                                                <div class="spinner-border text-warning" style="width:13px; height:13px" role="status"></div>
                                            </label>
                                        {% elif status == 2 %}
                                            <label id="lblHospitalName" class="text-success">: Verified
                                                <img style="width:50px; margin-left:-20px" src="{% static 'discord-verification-verification.gif' %}">
                                                
                                            </label>
                                        {% else %}
                                            <label id="lblHospitalName" class="text-danger">: Rejected<i class="bi bi-x-circle-fill ms-1 text-danger"></i></label>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="fs-6 fw-semibold mt-2 mb-3">Verified hospital address</div>
                            </div>
                            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                                <div class="fs-6 fw-semibold mt-2 mb-3">
                                    <label id="lblHospitalVerifiedaddress">
                                        {% if verifiedhospaddress == False %}
                                            <i class="bi bi-x-circle-fill text-danger" style="font-size:30px;"></i>
                                        {% else %}
                                            <i class="bi bi-check-circle-fill text-success" style="font-size:30px;"></i>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="fs-6 fw-semibold mt-2 mb-3">Verified hospital deatils</div>
                            </div>
                            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                                <div class="fs-6 fw-semibold mt-2 mb-3">
                                    <label id="lblHospitalVerifieddeatils">
                                        {% if verifiedhospdetails == False %}
                                            <i class="bi bi-x-circle-fill text-danger" style="font-size:30px;"></i>
                                        {% else %}
                                            <i class="bi bi-check-circle-fill text-success" style="font-size:30px;"></i>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="fs-6 fw-semibold mt-2 mb-3">Verified hospital OTs</div>
                            </div>
                            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                                <div class="fs-6 fw-semibold mt-2 mb-3">
                                    <label id="lblHospitalVerifiedOTs">
                                        {% if verifiedhospots == False %}
                                            <i class="bi bi-x-circle-fill text-danger" style="font-size:30px;"></i>
                                        {% else %}
                                            <i class="bi bi-check-circle-fill text-success" style="font-size:30px;"></i>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="fs-6 fw-semibold mt-2 mb-3">Comments</div>
                            </div>
                            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                                <div class="fs-6 fw-semibold mt-2 mb-3">
                                    <label id="lblHospitalComment">: {{comment}}</label>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="/js/hospital.js"></script>
<script src="/js/view.hospital.js"></script>
            </div>
            <div b-1mtsuay2f9 id="kt_app_footer" class="app-footer d-flex flex-column flex-md-row flex-center flex-md-stack pb-3">
                <div b-1mtsuay2f9 class="text-dark order-2 order-md-1">
                    <span b-1mtsuay2f9 class="text-muted fw-semibold me-1">2023&copy;</span>
                    <a b-1mtsuay2f9 href="#" target="_blank" class="text-gray-800 text-hover-primary">Book my OT</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}