.red-table thead tr {
  background: #c63400;
  color: white;
}
.red-table tbody tr:nth-child(odd) {
  background: white;
}
.red-table tbody tr:nth-child(even) {
  background: #DFDFDF;
}
.red-table tbody tr:hover {
  background-color: lemonchiffon;
}
.red-table td {
  border-top: 0px !important;
  border-right: 1px solid #fff !important;
}

.blue-table thead tr {
  background: #0c5094;
  color: white;
}
.blue-table tbody tr:nth-child(odd) {
  background: white;
}
.blue-table tbody tr:nth-child(even) {
  background: #D6EEEE;
}
.blue-table tbody tr:hover {
  background-color: #D6EEEE;
}
.blue-table td {
  border-top: 0px !important;
  border-right: 1px solid #fff !important;
}

.purple-table thead tr {
  background: #763def;
  color: white;
}
.purple-table tbody tr:nth-child(odd) {
  background: white;
}
.purple-table tbody tr:nth-child(even) {
  background: #D6EEEE;
}
.purple-table tbody tr:hover {
  background-color: #D6EEEE;
}
.purple-table td {
  border-top: 0px !important;
  border-right: 1px solid #fff !important;
}

.elipses-text {
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item.here > .menu-link .menu-icon-success {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-success i {
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-success {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-success i {
  color: seagreen;
  font-size: 2rem;
}

.menu-item.here > .menu-link .menu-icon-dark {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-dark i {
  margin: 5px;
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-dark {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-dark i {
  color: black;
  font-size: 2rem;
}

.menu-item.here > .menu-link .menu-icon-danger {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-danger i {
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-danger {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-danger i {
  color: #f1416c;
  font-size: 2rem;
}

.menu-item.here > .menu-link .menu-icon-info {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-info i {
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-info {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-info i {
  color: cornflowerblue;
  font-size: 2rem;
}

.menu-item.here > .menu-link .menu-icon-primary {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-primary i {
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-primary {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-primary i {
  color: #7239ea;
  font-size: 2rem;
}

.menu-item.here > .menu-link .menu-icon-warning {
  margin: 5px;
}
.menu-item.here > .menu-link .menu-icon-warning i {
  color: white;
  font-size: 2rem;
}

.menu-item > .menu-link .menu-icon-warning {
  margin: 5px;
}
.menu-item > .menu-link .menu-icon-warning i {
  color: #b02a37;
  font-size: 2rem;
}
