{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <style>
            body {
                background-image: url('{% static 'book/assets/media/auth/bg4.jpg' %}');
            }

            [data-bs-theme="dark"] body {
                background-image: url('{% static 'book/assets/media/auth/bg4-dark.jpg' %}');
            }
        </style>
        <img src="{% static 'logo.jpeg' %}" style="width:30%;" class="mt-8">
        <div class="d-flex flex-column flex-column-fluid flex-lg-row"style="margin-top:50px">
            <div class="col-md-8 text-center" style="margin-top: 50px;">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="{% static 'curosel1.jpeg' %}" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'curosel2.jpeg' %}" class="d-block w-100" alt="...">

                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true" style="font-size: 40px;font-weight: 900;"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true" style="font-size: 40px;font-weight: 900;"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>

            <div class="d-flex flex-center w-lg-50 p-10">
                <div class="card rounded-3 w-md-350px h-md-450px mt-7">
                    <div class="card-body d-flex flex-column p-10 p-lg-20 pb-lg-10">
                        <div class="d-flex flex-center flex-column-fluid pb-15 pb-lg-20">
                            <form method="post" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_sign_in_form">
                                {% csrf_token %}
                                <div class="text-center mb-5" style="margin-top: -30px; margin-bottom: 20px;">
                                    <h1 class="text-dark fw-bolder mb-3">Sign In</h1>
                                </div>
                               
                                <div class="fv-row mb-8 fv-plugins-icon-container">
                                    <input type="text" placeholder="Username" name="Username" id="Username" autocomplete="off" class="form-control">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="fv-row mb-3 fv-plugins-icon-container">
                                    <input type="password" placeholder="Password" id="Password" name="Password" autocomplete="off" class="form-control bg-transparent">

                                </div>
                                <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
                                    <div>
                                    </div>
                                </div>
                                <p class="" style="color:brown; margin-top:-20px;">
                                    {% if mess == 'No Records Found' %}
                                        Invalid Credentials
                                    {% endif %}
                                </p>

                                <div class="d-grid mb-10">
                                    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
                                        <span class="indicator-label">Sign In</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </div>
                                <div class="fs-6">
                                    <p class="fw-bold"> If you don't have an account 
                                        <a href="{% url 'hospital_registration' %}" class="text-info text-center"> Sign UP </a> 
                                    </p>
                                </div>
                                <br>
                                <div class=" text-center fw-semibold fs-6 ">
                                    <a href="{% url 'terms_and_conditions' %}" class="link-primary">Terms & Conditions</a><br/>
                                    <a href="{% url 'privacy_policy' %}" class="link-primary">Privacy Policy</a>
                                </div>
                            </div>
                        <div class="d-flex flex-stack">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}